@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::-moz-selection {
    background: #d1d1c7;
  }
  ::-webkit-selection {
    background: #d1d1c7;
  }
  ::selection {
    background: #d1d1c7;
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'CabinetGrotesk-Variable';
    src: url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans-Variable';
    src: url('./assets/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  @media (min-width: 640px) {
  }
  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3,
  h4,
  input,
  button {
    @apply font-general;
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px #0e0e0c;
  }
}

.hero-span {
  display: block;
  font-weight: 400;
  font-size: 0.85rem;
}

.heading-1 {
  text-align: center;
  font-size: clamp(2.7rem, 6.5vw, 10rem);
  font-weight: 500;
  padding: 2rem 0;
}

.radial {
  background: radial-gradient(
    48% 50% at -6%,
    #d6ffee 5%,
    #d5e987bd 37%,
    #ff0000d9 66%,
    rgba(24, 24, 24, 0) 106%
  );
}
.linear-gradient {
  background: linear-gradient(#f8f8f2 66%, #333 240%);
}

@media (min-width: 535px) {
  .radial {
    background: radial-gradient(
      39% 50% at -6%,
      #d6ffee 5%,
      #d5e987bd 37%,
      #ff0000d9 66%,
      rgba(24, 24, 24, 0) 106%
    );
  }
}

@media (min-height: 700px) {
  .long-p {
    padding-top: 20vh;
  }

  .long-top {
    top: 240px;
  }
}

/* #943636 red */
