@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* *{
    border: 1px solid red;
  } */

  ::-moz-selection {
    background: #d1d1c7;
  }
  ::-webkit-selection {
    background: #d1d1c7;
  }
  ::selection {
    background: #d1d1c7;
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'CabinetGrotesk-Variable';
    src: url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans-Variable';
    src: url('./assets/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  @media (min-width: 640px) {
    * {
      cursor: none;
    }
  }
  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-general;
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px #0e0e0c;
  }
}

.hero-span {
  display: block;
  font-weight: 400;
  font-size: 0.85rem;
}
/* #943636 red */
